@page
@model Property_Management_API.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Property API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:gold;">
    <div>
        <!-- Navigation bar code -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
            <a class="navbar-brand" href="#">property</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#addproperty">Add New property</button>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- following division is creating main area of the web page where all books data will display -->
        <div class="container">
            <div class="row" id="allproperty">
            </div>
        </div>
    </div>

    <!-- below mentioned code will create the template to add a new property -->
    <div class="modal" tabindex="-1" role="dialog" id="addproperty">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add property</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Property_Type">Property Type</label>
                            <input type="text" class="form-control" id="property_Type" aria-describedby="Property_TypeHelp" placeholder="Property Type">

                        </div>
                        <div class="form-group">
                            <label for="area">Area</label>
                            <input type="text" class="form-control" id="area" aria-describedby="authorHelp" placeholder="Area Name">

                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="Number" class="form-control" id="price" aria-describedby="priceHelp" placeholder="Price of property">
                        </div>
                        <div class="form-group">
                            <label for="Facilities">facilities</label>
                            <input type="text" class="form-control" id="facilities" aria-describedby="facilities" placeholder="Available facilities">
                        </div>

                        <div class="form-group" id="result">


                        </div>
                        <button type="button" class="btn btn-primary" onclick="addProperty()">Add Property</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <!-- below mentioned code will create the template to add a new property -->
    <div class="modal" tabindex="-1" role="dialog" id="updateproperty">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">update property</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">

                             <input type="hidden" class="form-control" id="update_id" aria-describedby="IdHelp">

                        </div>
                        <div class="form-group">
                            <label for="Property_Type">Property Type</label>
                            <input type="text" class="form-control" id="update_property_Type" aria-describedby="Property_TypeHelp" placeholder="Property Type">

                        </div>
                        <div class="form-group">
                            <label for="area">Area</label>
                            <input type="text" class="form-control" id="update_area" aria-describedby="authorHelp" placeholder="Area Name">

                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="Number" class="form-control" id="update_price" aria-describedby="priceHelp" placeholder="Price of property">
                        </div>
                        <div class="form-group">
                            <label for="Facilities">facilities</label>
                            <input type="text" class="form-control" id="update_facilities" aria-describedby="facilities" placeholder="Available facilities">
                        </div>

                        <div class="form-group" id="update_result">


                        </div>
                        <button type="button" class="btn btn-primary" onclick="updateproperty()">update Property</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <! -- java script files that will help to link the front end and back end -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        var uri = 'api/Properties';

        //Java script main function so JS start from here
        $(document).ready(function () {
            $.getJSON(uri)
                .done(function (data) {
                    $("#PropertyTemplate").tmpl(data).appendTo("#allproperty");
                });
        });
        // function to get all property data and show on web page
        function getAllProperty() {
            $.getJSON(uri)
                .done(function (data) {
                    $("#allproperty").text("");
                    $("#PropertyTemplate").tmpl(data).appendTo("#allproperty");
                });
        }

        // function to add data for new property
        function addProperty() {
            var _property_Type = $('#property_Type').val();
            var _area = $('#area').val();
            var _price = parseFloat($('#price').val());
            var _facilities = $('#facilities').val();

            var Property = {
                property_Type: _property_Type,
                area: _area,
                price: _price,
                facilities: _facilities
            };
            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(Property),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Successfully added new property");
                getAllProperty();
            }).fail(function (jqXHR, textStatus) {
                $("#result").html("something wrong.");
            });
        }

        // funtion to fill the data into update template
        function getpropertyForUpdate(id) {
            $.ajax({
                type: "GET",
                url: uri + "/" + id,
                contentType: "application/json"
            }).done(function (response) {
                $('#update_id').val(response.id);
                $('#update_property_Type').val(response.property_Type);
                $('#update_area').val(response.area);
                $('#update_price').val(response.price);
                $('#update_facilities').val(response.facilities);
            });
        }
        // function to update data of the property
        function updateproperty() {
            var _property_Type = $('#update_property_Type').val();
            var _area = $('#update_area').val();
            var _price = parseFloat($('#update_price').val());
            var _facilities = $('#update_facilities').val();

            var Propertyupdate = {
                id: parseInt($('#update_id').val()),
                property_Type: _property_Type,
                area: _area,
                price: _price,
                facilities: _facilities
            };
            $.ajax({
                type: "PUT",
                url: uri + "/" + $('#update_id').val(),
                data: JSON.stringify(Propertyupdate),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#update_result").html("Data updated");
                getAllProperty();
            }).fail(function (jqXHR, textStatus) {
                $("#update_result").html("Something wrong.");
            });
        }

        //funtion to delete a particular property based on id
        function remove(id) {
            var yes = confirm("Are you sure you want to delete this property?");
            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,
                }).done(function (response) {
                    $("#result").html(" Data Deleted");
                    getAllProperty();
                }).fail(function (jqXHR, textStatus) {
                    $("#result").html("Something Wrong.");
                });
            }
        }
    </script>


    <!-- below mentioned code will create the template on the web page to display all properties -->
    <script id="PropertyTemplate" type="text/x-jquery-tmpl">
        <div class="col-lg-4" style="margin:36px;">
            <div class="card card text-white bg-dark border-warning mb-4" style="width: 26rem; padding:36px">
                <div class="card-body">
                    <h5 class="card-title">Property Type: ${property_Type}</h5>
                    <p class="card-text">Area Name :  ${area}</p>
                    <p class="card-text">Price Of Property : ${price}</p>
                    <p class="card-text">Available Facilities : ${facilities}</p>
                </div>
                <span>
                    <button class="btn btn-primary" onclick="getpropertyForUpdate('${id}')" data-toggle="modal" data-target="#updateproperty">Update</button>
                    <a href="#" class="btn btn-danger" onclick="remove('${id}')">Delete</a>
                </span>
            </div>
        </div>
    </script>
</body>
</html >
